@import 'mixins';

.header-nav {
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  @include center-center();
  width: 100vw;
  height: 80px;
  background-color: var(--color-bg);

  &:before {
    content: '';
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    filter: blur(1.5rem);
  }

  .nav-box {
    @include flex(space-between, center);
    width: 100%;
    height: 100%;
    margin: 0 20px;
    border-bottom: 1px solid var(--color-gray09);
    font-family: var(--font-IBMPlexMono);

    @media screen and (max-width: 478px) {
      margin: 0;
      padding: 0 20px;
    }

    .align {
      @include center-center();
    }
  }
}

.menu-box {
  margin-right: 8rem;
  font-size: var(--text-l);
  @include relative-title-font(1.4, 1.2, 1, 0.8, 0.8);

  @media screen and (max-width: 767px) {
    margin-right: 5rem;
  }

  &.ko{
    @include relative-title-font(1.6, 1.5, 1.4, 1.2, 1);
    letter-spacing: 1px;
    font-family: var(--font-ko-wooju);
  }

  .menu {
    display: inline-block;
    position: relative;
    margin: 10px 35px 10px 10px;
    transition: all 0.2s ease-in-out;
    
    @media screen and (max-width: 479px) {
      margin-right: 5px;
    }

    @include highlight;
  }
}

.loading {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
}    

