@import 'mixins';

.wrap {
  width: 100%;
  height: 100%;
  padding: 2rem 1.5rem;
  cursor: default;

  @media screen and (max-width: 478px) {
    padding: 2rem 0.3rem;
  }
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;     
  white-space: pre-line;
  @include center-center(column);

  .align {
    @include center-center;

    .drift {
      width: 100%;
      min-height: 32px;
      margin-bottom: 1.5rem;
      font-family: var(--font-mapo-flower);
      white-space: pre-line;
      @include relative-title-font(1.7, 1.5, 1.2, 1, 0.9);
  
      & > span {
          display: inline-block;
          position: relative;
          margin-right: 0.95rem;
          transform-origin: center 60%;
          transition: all .4s cubic-bezier(0.065, 1, 0.390, 1);

          @media screen and (max-width: 550px) {
            margin-right: 0.3rem;
          }
  
          &:hover {
            transform: rotate(-20deg) !important;
        }
      }
  
      &.en1 {
        font-family: var(--font-chakraPatch);
      }
    }
  
  }
  .introduction {
    color: var(--color-gray03);
    font-size: 1rem;
    line-height: 1.5;
    white-space: pre-line;
    @include relative-title-font(1, 0.95, 0.9, 0.85, 0.8);

    @media screen and (max-width: 550px) {
      width: 90%;
    }
    &:nth-child(3) {
      width: 80%;
      margin-top: 0.7rem;

      @media screen and (max-width: 550px) {
        white-space: normal;
      }
    }

    &.en2 {
      font-family: var(--font-chakraPatch);
      letter-spacing: 0.3px;
      @include relative-title-font(1, 0.95, 0.9, 0.85, 0.8);
    }
  }
}