@import 'mixins';

.button-box {
  position: fixed;
  @include center-center();
  z-index: 501;
  top: 0%;
  right: 5%;
  width: 80px;
  height: 80px;
  font-family: var(--font-balooBhaina);
  
  @media screen and (max-width: 767px) {
    font-size: var(--text-m);
  }
}