.header-nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  opacity: 0.9;
  background-color: var(--color-bg);
  backdrop-filter: blur(1rem);

  &:before {
    content: '';
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(1.5rem);
  }

  .nav-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 100%;
    padding: 0 10px;
    border-bottom: 1px solid var(--color-gray09);
  }
}

.menu-box {
  .menu {
    display: inline-block;
    position: relative;
    margin: 0 20px;
    transition: all 0.2s ease-in-out;
    font-family: var(--font-IBMPlexMono);
    font-size: var(--text-l);

    &:hover .highlight:after {
      width: 100%;
    }

    .highlight:after {
      content: '';
      display: inline-block;
      position: absolute;
      z-index: -1;
      bottom: -2px;
      left: 0;
      width: 0;
      height: 10px;
      transform: rotate(-2deg);
      transition: 0.4s all;
      background: var(--color-point-skyblue);
    }
  }
}
