 @import 'mixins';

.guide {
  margin: 1.4rem 0;
  padding: 0.8rem;
  border: 1px solid var(--color-gray09);
  background-color: var(--color-light-green-opacity);
  color: var(--color-gray05);
  font-family: var(--font-guide);
  text-align: center;
  white-space: normal;
  @include relative-title-font(1, 0.95, 0.9, 0.85, 0.8);
  @include center-center;
  
  @media screen and (max-width: 768px) {
    white-space: pre-line;
  }

  &.en {
    @include relative-title-font(1.1, 1.05, 1, 0.95, 0.9);
    letter-spacing: 0.5px;
  }
}

.point {
  color: var(--color-primary);
  font-weight: 600;
}

.weight {
  font-weight: 600;
}

.highlight {
  @include highlight-everytime(#e7f5ecc5);
}

.italic {
  display: inline-block;
  margin-top: 0.2rem;
  font-style: italic;
}