@import 'mixins';

// -s : span으로 들어가는 단어 강조 스타일
.points {
  color: var(--color-primary);
  font-weight: 600;
}

.weights {
  font-weight: 600;
}

.highlights {
  @include highlight-everytime(#e7f5ecc5);
}

.italics {
  display: inline-block;
  margin-right: 0.2rem;
  font-style: italic;
  color: var(--color-gray04);
}

.margins {
  margin: 7px 0;
  width: 100%;
}


.toggles {
  line-height: 1.5rem;
  margin-top: 7px;
}
