@import 'mixins';

.button {
  @include center-center();
  width: 50px;
  height: 30px;
  padding-bottom: 1px;
  transition: all 0.3s ease-in-out;
  border: 1.5px solid var(--color-light-primary);
  border-radius: var(--rounded-default);
  color: var(--color-gray4);
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;

  @media screen and (max-width: 479px) {
    font-size: var(--text-default);
  }

  &:hover {
    color: var(--color-primary);
    font-weight: 700;
  }

  &.en {
    padding-bottom: 5px;
  }
}

.block {
  border: 1.5px solid var(--color-gray10);
  color: var(--color-gray09);

  &:hover {
    color: var(--color-gray09);
    cursor: not-allowed;
  }
}